:root {
    --very-dark-grey: #18171F;
    --dark-grey: #24232C;
    --grey: #817D92;
    --almost-white: #E6E5EA;
    --neon-green: #A4FFAF;
    --yellow: #F8CD65;
    --orange: #8FB7C5;
    --red: #F64A4A;

    --icon-check: .assets/images/icon-check.svg
}

html {
    box-sizing: border-box;
}

body {
    font-family: "JetBrains Mono";
    background-color: var(--very-dark-grey);
    color: var(--almost-white);
    height: 100vh;
    display: flex;
}

.password-generator {
    width: 343px;
    height: 540px;
    margin: auto;
}

.card {
    background-color: var(--dark-grey);
    height: 423px;
    padding: 16px;
}

h1 {
    text-align: center;
    font-size: 16px;
    color: var(--grey);
    margin-top: 0;
}
.generated-password {
    font-size: 24px;
}
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.character-length {
    height: 47px;
}

.copy-icon {
    height: 20px;
    width: 17.5px;
    cursor: pointer;
}

.display-password {
   margin-bottom: 16px;
   padding: 0 16px;
   height: 64px;
   align-items: center;
}

.number-of-characters {
    color: var(--neon-green);
    font-size: 24px;
}

input[type="range"] {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 8px; /* Specified height */
    background: var(--very-dark-grey); /* Grey background */
    outline: none; /* Remove outline */
    margin-bottom: 22px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 28px; /* Set a specific slider handle width */
    height: 28px; /* Slider handle height */
    border-radius: 50%;
    background: var(--almost-white); /* Green background */
    cursor: pointer; /* Cursor on hover */
}

ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

li {
    font-size: 16px;
    vertical-align: center;
/*    padding-bottom: 16px;  */
}

li input {
    margin-right: 15px;
    cursor: pointer;
}

input[type="checkbox"] {
    appearance: none;
    position: relative;
    vertical-align: -7px;
    height: 20px;
    width: 20px;
    border: 2px solid var(--almost-white);
    background-color: var(--dark-grey);
  }

  input[type="checkbox"]::before {
    content: url(../assets/images/icon-check.svg);
    text-align: center;
    line-height: 24px;
    color: var(--dark-grey);
    background-color: var(--neon-green);
    position: absolute;
    left: -2px;
    top: -2px;
    height: 20px;
    width: 20px;
    visibility: hidden;
  }
  
  input[type="checkbox"]:checked::before {
    /* Use `visibility` instead of `display` to avoid recalculating layout */
    visibility: visible;
  }

.strength {
    background-color: var(--very-dark-grey);
    align-items: center;
    color: var(--grey);
    margin-bottom: 16px ;
}

.strength p, 
.strength progress {
    margin: 16px;
}

.strength, 
button {
    width: 311px;
    height: 56px;
}

progress {
    align-self: center;
}

button {
    cursor: pointer;
    color: black;
    font-size: 16px;
    background-color: var(--neon-green);
}

button img {
    margin-left: 10px;
}