:root {
    --very-dark-grey: #18171F;
    --dark-grey: #24232C;
    --grey: #817D92;
    --almost-white: #E6E5EA;
    --neon-green: #A4FFAF;
    --yellow: #F8CD65;
    --orange: #FB7C58;
    --red: #F64A4A;

    --deafult-margin: 16px;
}

html {
    box-sizing: border-box;
}

body {
    font-family: "JetBrains Mono";
    background-color: var(--very-dark-grey);
    color: var(--almost-white);
    height: 100vh;
    display: flex;
}

.password-generator {
    width: 343px;
    height: 572px;
    margin: auto;
}

.card {
    background-color: var(--dark-grey);
    height: 423px;
    padding: var(--deafult-margin);
}

h1 {
    text-align: center;
    font-size: 16px;
    color: var(--grey);
    margin-top: 0;
}
.generated-password {
    font-size: 24px;
    color: var(--grey);  
    opacity: 25%;
}

.color-white {
    font-size: 24px;
    color: var(--almost-white);
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.character-length {
    height: 47px;
}

.copied {
    color: var(--neon-green);
    size: 18px;
    margin-right: 16px;
    visibility: hidden;
}

.copied-visible {
    visibility: visible;
}

.copy-icon {
    height: 20px;
    width: 17.5px;
    cursor: pointer;
}

.copy-icon:hover {
    cursor: pointer;
    filter: invert(0%) sepia(100%) saturate(5014%) hue-rotate(164deg) brightness(1000%) contrast(100%);
}

.copy-icon:active {
    fill: var(--almost-white);
}

.display-password {
   margin-bottom: 16px;
/* padding: 16px;  */
   height: 32px;
   align-items: center;
}

.number-of-characters {
    color: var(--neon-green);
    font-size: 24px;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 8px;
    background: var(--very-dark-grey);
    outline: none;
    margin-bottom: 32px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 28px; /* Set a specific slider handle width */
    height: 28px; /* Slider handle height */
    border-radius: 50%;
    background: var(--almost-white); /* Green background */
    cursor: pointer; /* Cursor on hover */
}

input[type="range"]::-webkit-slider-thumb:active {
    background-color: var(--very-dark-grey);
    border: 2px solid var(--neon-green);
}

ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 32px;
}

li {
    font-size: 16px;
    vertical-align: center;
}

li input {
    margin-right: 20px;
    cursor: pointer;
}

input[type="checkbox"] {
    appearance: none;
    position: relative;
    vertical-align: -7px;
    height: 20px;
    width: 20px;
    border: 2px solid var(--almost-white);
    background-color: var(--dark-grey);
  }

  input[type="checkbox"]::before {
    content: url(../assets/images/icon-check.svg);
    text-align: center;
    line-height: 24px;
    color: var(--dark-grey);
    background-color: var(--neon-green);
    position: absolute;
    left: -2px;
    top: -2px;
    height: 20px;
    width: 20px;
    visibility: hidden;
  }
  
  input[type="checkbox"]:checked::before {
    /* Use `visibility` instead of `display` to avoid recalculating layout */
    visibility: visible;
  }

.strength {
    background-color: var(--very-dark-grey);
    align-items: center;
    color: var(--grey);
    margin-bottom: var(--deafult-margin) ;
}

.strength p,
.strength-states {
   margin: var(--deafult-margin);
}

.strength, 
button {
    width: 311px;
    height: 56px;
}

.strength .strength-level {
    color: var(--almost-white);
    margin: 0;
}

.strength-states {
    width: 64px;
    height: 28px;
    display: flex;
    justify-content: space-between;

}

.strength-states div {
    border: 2px solid var(--almost-white);
    flex-basis: 9.38%;
}

.strength-red div:first-child {
    background-color: var(--red);
    border: none;
    flex-basis: 15.63%;
}

.strength-orange div:nth-child(-n+2) {
    background-color: var(--orange);
    border: none;
    flex-basis: 15.63%;
}

.strength-yellow div:nth-child(-n+3) {
    background-color: var(--yellow);
    border: none;
    flex-basis: 15.63%;
}

.strength-green div {
    background-color: var(--neon-green);
    border: none;
    flex-basis: 15.63%;
}

button {
    cursor: pointer;
    color: black;
    font-size: 16px;
    background-color: var(--neon-green);
    border:none;
}

button img {
    margin-left: 10px;
}

button:active {
    background-color: var(--dark-grey);
    color: var(--neon-green);
    border: 2px solid var(--neon-green);
}

button:active img {
    filter: brightness(0) saturate(100%) invert(84%) sepia(17%) saturate(860%) hue-rotate(72deg) brightness(108%) contrast(103%);
}


@media (min-width: 800px) {
    :root {
        --deafult-margin: 32px; 
    }

    .card {
        width: 476px;
        height: 464px;
    }

    h1 {
        font-size: 24px;
    }

    .display-password {
        height: 48px;
    }

    .password-generator {
        width: 540px;
        height: 695px;
    }

    .generated-password {
        font-size: 42px;
    }

    .color-white {
        font-size: 42px;
    }

    .copy-icon {
        height: 24px;
        width: 21px;
    }

    .number-of-characters {
        color: var(--neon-green);
        font-size: 32px;
    }

    li {
        font-size: 18px;
    }

    li input {
        margin-right: 24px;
    }

    .strength, 
    button {
    width: 476px;
    height: 65px;
    font-size: 18px;
}
}